<nav  ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



  <img  src="/assets/images/user.png" alt="image">
  &nbsp;&nbsp;
  <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">


    <li ><a  type="button" (click)="login()"  class="nav-link">
      <div style="color: white; font-size: 20px">{{p.loginText}}</div></a></li>&nbsp;&nbsp;


    <li ><a type="button" (click)="goHome()"  class="nav-link">
      <div style="color: white; font-size: 20px">Home</div></a></li>&nbsp;&nbsp;


    <li><a type="button" (click)="viewBooks()" class="nav-link">
      <div style="color: white; font-size: 20px">View Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.signedin"  type="button" (click)="goToMyLoans()"  class="nav-link">
      <div style="color: white; font-size: 20px">MyLoans</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button"  (click)="manageUsers()" class="nav-link">
      <div style="color: white; font-size: 20px">Manage Users</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageBooks()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageLending()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Lending</div></a></li>&nbsp;&nbsp;

  </ul>
</nav>
<br><br><br><br>




<div style="margin-top: 50px;">

    <table style="width: 50%; margin: auto;" >
        <tr style="border: 1px solid black; text-align: center; font-weight: bold;
        background: rgb(83, 161, 161); color: white;">
            <td>User Details</td>
        </tr>
    </table>

    <table style="width: 50%; margin: auto;" >


        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;First Name</td><td>{{user.firstName}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;Last Name</td><td>{{user.lastName}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;Email</td><td>{{user.emailID}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Role</td><td>{{user.role}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Book Quota</td><td>{{user.bookQuota}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Utilized Quota</td><td>{{user.utilizedQuota}}</td>
        </tr>
        <br>
        <tr>
            <button type="button" (click)="goBack()"  id="vubtn" >Back</button>
            <button type="button"  (click)="updateUser(admin.id,user.id)" id="vubtn" style="margin-left: 10px;">Edit</button>
            <button type="button"  (click)="deleteUser(user.id)" id="vubtn" style="margin-left: 10px;">Delete</button>
            <button type="button"  (click)="lendLiterature(user.id)" id="vubtn" style="margin-left: 10px;">Lend</button>
        </tr>
    </table>
    
</div>