





<nav  ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



  <img  src="/assets/images/user.png" alt="image">
  &nbsp;&nbsp;
  <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">


    <li ><a  type="button" (click)="login()"  class="nav-link">
      <div style="color: white; font-size: 20px">{{p.loginText}}</div></a></li>&nbsp;&nbsp;


    <li ><a type="button" (click)="goHome()"  class="nav-link">
      <div style="color: white; font-size: 20px">Home</div></a></li>&nbsp;&nbsp;


    <li><a type="button" (click)="viewBooks()" class="nav-link">
      <div style="color: white; font-size: 20px">View Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.signedin"  type="button" (click)="goToMyLoans()"  class="nav-link">
      <div style="color: white; font-size: 20px">MyLoans</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button"  (click)="manageUsers()" class="nav-link">
      <div style="color: white; font-size: 20px">Manage Users</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageBooks()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageLending()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Lending</div></a></li>&nbsp;&nbsp;

  </ul>
</nav>

    <br><br>  









<div style="margin-top: 50px;">

    <table style="width: 50%; margin: auto;" >
        <tr style="border: 1px solid black; text-align: center; font-weight: bold;
        background: rgb(83, 161, 161); color: white;">
            <td>Literature Details</td>
        </tr>
    </table>

    <table style="width: 50%; margin: auto;" >


        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;Material ID</td><td>{{literature.id}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;Title</td><td>{{literature.title}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black; ">
            <td>&nbsp;&nbsp;&nbsp;Author</td><td>{{literature.author}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Category</td><td>{{literature.category}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Date</td><td>{{literature.issuedDate}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Total Books</td><td>{{literature.totalBooks}}</td>
        </tr>
        <br>
        <tr style="border: 1px solid black;" >
            <td>&nbsp;&nbsp;&nbsp;Available Books</td><td>{{getAvailableBooks(literature)}}</td>
        </tr>
        <br>
        <tr>
            <button type="button" (click)="goBack()"  id="vubtn" >Back</button>
            <button type="button" *ngIf="enEditDelete" (click)="updateLiterature()" id="vubtn" style="margin-left: 10px;">Edit</button>
            <button type="button" *ngIf="enEditDelete" (click)="deleteLiterature()" id="vubtn" style="margin-left: 10px;">Delete</button>
            <button type="button" *ngIf="enLend" (click)="lendLiterature()" id="vubtn" style="margin-left: 10px;">Lend</button>
        </tr>

        

    </table>
</div>