<nav  ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



  <img  src="/assets/images/user.png" alt="image">
  &nbsp;&nbsp;
  <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">


    <li ><a  type="button" (click)="login()"  class="nav-link">
      <div style="color: white; font-size: 20px">{{p.loginText}}</div></a></li>&nbsp;&nbsp;


    <li ><a type="button" (click)="goHome()"  class="nav-link">
      <div style="color: white; font-size: 20px">Home</div></a></li>&nbsp;&nbsp;


    <li><a type="button" (click)="viewBooks()" class="nav-link">
      <div style="color: white; font-size: 20px">View Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.signedin"  type="button" (click)="goToMyLoans()"  class="nav-link">
      <div style="color: white; font-size: 20px">MyLoans</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button"  (click)="manageUsers()" class="nav-link">
      <div style="color: white; font-size: 20px">Manage Users</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageBooks()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageLending()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Lending</div></a></li>&nbsp;&nbsp;

  </ul>
</nav>



<div class="col-md-8 offser-md-3" style="margin-top:100px; margin-left: 50px;">
    <h3 class="display-5" >Create Literature</h3> 
    <form  (ngSubmit) = "onSubmit()">
    
    
        <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" id="title" required   [(ngModel)]="literature.title" name="title">
        </div>
      
        <div class="form-group">
            <label >Author</label>
            <input type="text" class="form-control" id="author" required [(ngModel)]="literature.author" name="author">
        </div>
        
        <div class="form-group">
            <label>Category</label>
            <select  [(ngModel)]="literature.category" [ngModelOptions]="{standalone: true}" class="form-control" >
                <option value="Book">Book</option>
                <option value="Monthly Magazine">Monthly Magazine</option>
                <option value="Daily Magazine">Daily Magazine</option>
                <option value="Weekly Magazine">Weekly Magazine</option>
                <option value="Novel">Novel</option>
                <option value="CD-DVD">CD-DVD</option>
            </select>
        </div>
        

        <div class="form-group">
            <label >Issued Date</label>
            <input type="text" class="form-control" id="issuedDate" required [(ngModel)]="literature.issuedDate" name="issuedDate">
        </div>

        
        <div class="form-group">
            <label >ISBN</label>
            <input type="text" class="form-control" id="isbn" required [(ngModel)]="literature.isbn" name="isbn">
        </div>




        <div class="form-group">
          <label >Total Books Purchased</label>
          <input type="text" class="form-control" id="totalBooks" required [(ngModel)]="literature.totalBooks" name="totalBooks">
      </div>

      
      <div class="form-group">
          <label >Already Lended Books</label>
          <input type="text" class="form-control" id="lendedBooks" required [(ngModel)]="literature.lendedBooks" name="lendedBooks">
      </div>



        <button type="submit" class="btn btn-success">Submit</button>
    
    
    </form>
    </div>
    
