/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";



.navbar{
    position: fixed;
    background-color: #e02f2f;
    width: 100%;
    top: 0;
    height: 40px;
    margin-bottom: 10px;
    position: fixed;
}

.mcontainer{
    margin: auto;
}

.footer{
    width:100%;
    background-color: #e02f2f;
    height: 40px;
    color: white;
    padding: 8px;

    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;


}

.ftext{
    left: 0px;

}

#eubtn{
    width: 90px;
    background: rgb(129, 204, 114);
    color: white;
}

#dubtn{
    width: 90px;
    background: rgb(184, 51, 51);
    color: white;
}

#vubtn{
    width: 90px;
    background: rgb(83, 161, 161);
    color: white;
}

#lubtn{
    width: 90px;
    background: rgb(172, 48, 155);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container#model-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
}