


<nav  ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



    <img  src="/assets/images/user.png" alt="image">
    &nbsp;&nbsp;
    <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">
  
  
      <li ><a  type="button" (click)="login()"  class="nav-link">
        <div style="color: white; font-size: 20px">{{p.loginText}}</div></a></li>&nbsp;&nbsp;
  
  
      <li ><a type="button" (click)="goHome()"  class="nav-link">
        <div style="color: white; font-size: 20px">Home</div></a></li>&nbsp;&nbsp;
  
  
      <li><a type="button" (click)="viewBooks()" class="nav-link">
        <div style="color: white; font-size: 20px">View Books</div></a></li>&nbsp;&nbsp;
  
  
      <li ><a *ngIf="p.signedin"  type="button" (click)="goToMyLoans()"  class="nav-link">
        <div style="color: white; font-size: 20px">MyLoans</div></a></li>&nbsp;&nbsp;
  
  
      <li ><a *ngIf="p.isAdmin"  type="button"  (click)="manageUsers()" class="nav-link">
        <div style="color: white; font-size: 20px">Manage Users</div></a></li>&nbsp;&nbsp;
  
  
      <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageBooks()"  class="nav-link">
        <div style="color: white; font-size: 20px"> Manage Books</div></a></li>&nbsp;&nbsp;
  
  
      <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageLending()"  class="nav-link">
        <div style="color: white; font-size: 20px"> Manage Lending</div></a></li>&nbsp;&nbsp;
  
    </ul>
  </nav>


<br><br><br><br>


<form class="frm" (ngSubmit) = "onSubmit()" >

    <div class="loginRect">
        <div class="loginRect2">
            
                <h4 class="lin">{{errorNotification}}</h4>
        </div>
        <br>
        <input placeholder="email" id="em" type="text" class="form-control" id="emailid" required [(ngModel)] = "email"  name="emailid">
        <br>
        <input placeholder="password"  id="pass" type="text" class="form-control" id="password" required [(ngModel)] = "pword" name="password">
        <br><br>
    
        &nbsp;&nbsp;&nbsp;&nbsp;<button  type="submit"  id="lubtn" class="btn bnt-info">Signin</button>
    
        &nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" id="lubtn" class="btn bnt-info">Clear</button>
    </div>
    

</form>