.loginRect {
    border-radius: 25px;
    background: #e02f2f;
    padding: 20px; 
    height: 300px;
    margin: auto;
    width: 35%;

    padding: 10px;
  }
  
  .lin{
    color: red;
    text-align: center;
    font-size: 25px;
  }

  .loginRect2 {
    border-radius: 25px;
    background: #f6f6f6;
    padding: 20px; 
    height: 50px;
    margin: auto;
    width: 100%;

    padding: 10px;
  }

  .form-control{
    border-radius: 25px;
  }

  .btnc{
      padding: 10px;
    margin: auto;
    width: 50%;
  }

  #lubtn{
    border-radius: 25px;
    width: 40%;
    margin: 0 auto;
    background: #ff7878;
    color: white;
    font-size: 15px;
  }

  .frm{
    vertical-align: middle;
  }