<nav  ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



  <img  src="/assets/images/user.png" alt="image">
  &nbsp;&nbsp;
  <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">


    <li ><a  type="button" (click)="login()"  class="nav-link">
      <div style="color: white; font-size: 20px">{{p.loginText}}</div></a></li>&nbsp;&nbsp;


    <li ><a type="button" (click)="goHome()"  class="nav-link">
      <div style="color: white; font-size: 20px">Home</div></a></li>&nbsp;&nbsp;


    <li><a type="button" (click)="viewBooks()" class="nav-link">
      <div style="color: white; font-size: 20px">View Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.signedin"  type="button" (click)="goToMyLoans()"  class="nav-link">
      <div style="color: white; font-size: 20px">MyLoans</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button"  (click)="manageUsers()" class="nav-link">
      <div style="color: white; font-size: 20px">Manage Users</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageBooks()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Books</div></a></li>&nbsp;&nbsp;


    <li ><a *ngIf="p.isAdmin"  type="button" (click)="manageLending()"  class="nav-link">
      <div style="color: white; font-size: 20px"> Manage Lending</div></a></li>&nbsp;&nbsp;

  </ul>
</nav>





  <div style="margin-left: 100px; margin-top: 100px; margin-bottom: 100px;">

     <h3>
    <table  style="width: 1100px;  margin-top: 55px; text-align: center; font-weight: bold;
    background: rgb(112, 112, 112); color: white; border: 1px solid black; " >

      <tr style="padding: 5px;">



        <th style="padding: 5px; width:470px; padding-left: 10px; padding-right: 10px;">
          {{litTitle}}
    
        </th>

        <th style="padding: 10px; margin-left: 0px;">
          <button  *ngIf="enEditDelete"  style="width : 450px;" class="btn btn-success" 
          (click)="createBook()" >Add New Materiall</button>
        </th>


      </tr>
    </table>

        <br>


       
        <table  style="width: 1100px;  " >
          <tr style="border: 1px solid black; text-align: center; font-weight: bold;
          background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
              <td>
                <form ng-controller="formCtrl">     
                  <input placeholder="You can type an literature id and filter out specific literature!" style="width: 70%;"  type="text" name="name" [(ngModel)]="literatureID" />
                  <button type="button" style="width: 15%;" (click)="selectLiterature()">Select</button>
                  <button type="button" style="width: 15%;" (click)="getLiteratures()">Show All</button>
                </form>
              </td>
          </tr>
        </table>
        <br>
      </h3>
      <br>
    <table  *ngIf="showList"  class="table table-striped">
        <thead>
            <tr>
                <th>Literature ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Date</th>
                <th>ISBN</th>
                <th>TotalNo</th>
                <th>AvailableNo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let literature of literatures">
                <td>{{literature.id}}</td>
                <td>{{literature.title}}</td>
                <td>{{literature.author}}</td>
                <td>{{literature.category}}</td>
                <td>{{literature.issuedDate}}</td>
                <td>{{literature.isbn}}</td>
                <td>{{literature.totalBooks}}</td>
                <td>{{getAvailableBooks(literature)}}</td>
                <td>
                    <button *ngIf="enEditDelete"  id="eubtn" (click)="updateLiterature(literature.id)" class="btn bnt-info">Update</button>
                    <button *ngIf="enEditDelete"  id="dubtn" (click)="deleteLiterature(literature.id)" class="btn bnt-danger" style="margin-left: 10px;">Delete</button>
                    <button *ngIf="enView"  id="vubtn" (click)="viewLiterature(literature.id)" class="btn bnt-danger" style="margin-left: 10px;">View</button>
                    <button *ngIf="enLend"  id="lubtn" (click)="lendLiterature(literature.id)" class="btn bnt-danger" style="margin-left: 10px;">Lend</button>
                </td>
            </tr> 
        </tbody>
    </table>
    </div>


<br>